<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %} {% load paginator_tag %}
    <link rel="stylesheet" type="text/CSS" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href={% static 'css/prism.css' %}>
    <script src={% static 'js/prism.js' %}></script>
    <script src="{% static 'js/tinymce/tinymce.min.js' %}" referrerpolicy="origin"></script>
    <script src="{% static 'js/tinymce/jquery-1.11.3.min.js' %}" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            language: 'zh_CN',
            plugins: 'image link emoticons code codesample',
            toolbar: 'undo redo | bold italic underline strikethrough code emoticons codesample | \
      fontselect fontsizeselect | forecolor backcolor | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist | outdent indent blockquote | \
      link unlink image | removeformat',
            selector: '#id_comment'
        });
    </script>
</head>

<body class="body">
    <div class="Head"> <img class="Hlogo" src="{% static 'image/logo.png' %}" alt="logo"> <img class="Himage" src="{% static 'image/jiaoda.png' %}" alt="jiaoda">
        <h3 class="Hti">SWJTU Code Exchange Platform</h3>
    </div>
    <div class="row">
        <div class="daohang">
            <ul>
                <li class="class1"><a href="{% url 'index' %}">主页</a></li>
                <li class="class1"><a href="http://jwc.swjtu.edu.cn/index.html">教务网：@swjtu.edu.cn</a></li>
                <li class="class1">
                    <form action="">
                        <input class="Myinput" type="text" value="请输入搜索内容" onfocus="javascript:if(this.value=='请输入搜索内容')this.value='';">
                    </form>
                </li>
                <li class="class1">
                    <form action="" class="parent">
                        <input type="button" value="搜索">
                    </form>
                </li>
                <li class="class1"><a href="#contact">发帖</a></li>
                <li class="class1"><a href="{% url 'login' %}">登陆</a></li>
                <li class="class1" style="float:right"><a href="{% url 'register' %}">注册</a></li>
            </ul>
        </div>
        <div class="mokuai">
            <h1 class="ziti">
                <center>
                    <img src="{% static 'image/timg.jpg' %}" alt="导航" height="50" width="80">模块
                </center>
            </h1>
            <hr style="border:1px solid #D5C5C5;" />
            <ul class="Myul">
                <li><a href="/category/1/">C</a></li>
                <hr style="border:1px solid #D5C5C5;" />
                <li><a href="/category/2/">C++</a></li>
                <hr style="border:1px solid #D5C5C5;" />
                <li><a href="/category/3/">Python</a></li>
                <hr style="border:1px solid #D5C5C5;" />
                <li><a href="/category/4/">Java</a></li>
            </ul>
        </div>

        {% block postlist %}
        <div class="news">
            <div class="photo" id="photo">

                <!--//1-->

                <input type="radio" name="btn" id="img1" checked />
                <div class="control">
                    <div class="image"><img src="{% static 'image/roll/1.jpg' %}" height="250" width="400" /></div>
                    <div class="nav">
                        <label for="img6" class="up leftjianbian">
              <</label> <label for="img2" class="down rightjianbian">>
            </label>
                    </div>
                </div>

                <!--//2-->

                <input type="radio" name="btn" id="img2" />
                <div class="control">
                    <div class="image"><img src="{% static 'image/roll/2.jpg' %}" height="250" width="400" /></div>
                    <div class="nav">
                        <label for="img1" class="up leftjianbian">
              <</label> <label for="img3" class="down rightjianbian">>
            </label>
                    </div>
                </div>

                <!--//3-->

                <input type="radio" name="btn" id="img3" />
                <div class="control">
                    <div class="image"><img src="{% static 'image/roll/3.jpg' %}" height="250" width="400" /></div>
                    <div class="nav">
                        <label for="img2" class="up leftjianbian">
              <</label> <label for="img4" class="down rightjianbian">>
            </label>
                    </div>
                </div>

                <!--//4-->

                <input type="radio" name="btn" id="img4" />
                <div class="control">
                    <div class="image"><img src="{% static 'image/roll/4.jpg' %}" height="250" width="400" /></div>
                    <div class="nav">
                        <label for="img3" class="up leftjianbian">
              <</label> <label for="img5" class="down rightjianbian">>
            </label>
                    </div>
                </div>

                <!--//5-->

                <input type="radio" name="btn" id="img5" />
                <div class="control">
                    <div class="image"><img src="{% static 'image/roll/5.jpg' %}" height="250" width="400" /></div>
                    <div class="nav">
                        <label for="img4" class="up leftjianbian">
              <</label> <label for="img6" class="down rightjianbian">>
            </label>
                    </div>
                </div>

                <!--//6-->

                <input type="radio" name="btn" id="img6" />
                <div class="control">
                    <div class="image"><img src="{% static 'image/roll/6.jpg' %}" height="250" width="400" /></div>
                    <div class="nav">
                        <label for="img5" class="up leftjianbian">
              <</label> <label for="img1" class="down rightjianbian">>
            </label>
                    </div>
                </div>
                <div class="dots">
                    <label for="img1" class="dot" id="dot1"></label>
                    <label for="img2" class="dot" id="dot2"></label>
                    <label for="img3" class="dot" id="dot3"></label>
                    <label for="img4" class="dot" id="dot4"></label>
                    <label for="img5" class="dot" id="dot5"></label>
                    <label for="img6" class="dot" id="dot6"></label>
                </div>
            </div>
        </div>
        <div>
            <div class="Tiezi">
                <ul>
                    {% for list in POST_LIST %}
                    <li class="Myli">
                        <a href="/post/{{list.id}}/">
                            <h4>{{ list.title }}</h4>
                        </a>
                        <div>
                            <p>{{ list.summary }}</p>
                            <br>
                        </div>
                        <table class="Mytable">

                            <th>作者：{{ list.author }}</th>
                            <th>阅览数：{{ list.view_count }}</th>
                            <th>发布时间：{{ list.publish_date }}</th>
                        </table>
                        <div class="jiange"></div>
                    </li>
                    {%endfor%}
                </ul>
            </div>
            {% endblock postlist %}
        </div>
</body>

</html>