{% extends "main_page/index.html" %} {% load staticfiles %} {% load comments %}
{% block postlist %}
{% load paginator_tag %}
{% if user == POST.category.admin.user or user == POST.author.user %}
<div class="row clearfix">
    <div class="col-md-12 column">
        <ul class="breadcrumb">
            <li>
                操作: <a id="del" style="cursor:pointer">删除该帖子</a>
                <script>
                    $(document).ready(function() {
                        $("#del").click(function() {
                            if(!confirm("确认删除?"))
                            {   
                                return;
                            }
                            else
                            {
                                category_id={{POST.category.id}};
                                post_id={{POST.id}};
                                $.post("{% url 'delete_post' %}",{ 'catagory_id':category_id,'post_id':post_id,csrfmiddlewaretoken: '{{ csrf_token }}' },function(msg) {
                                    if(msg=="Y")
                                    {    
                                        window.location.replace("{% url 'index' %}");
                                    }
                                    else
                                    {
                                        $.alert-warning("操作失败");
                                    }
                                });
                            }
                        });
                    });
                </script>
            </li>
        </ul>
    </div>
</div>
{% endif %}
<script>
    $(document).ready(function() {
        var content_article=$("#article_content")
        var content_comment=$("#comment_fliter")
        var reg = new RegExp("艹|fuck|shit","g")
        content_article.html(content_article.html().replace(reg, "*"));
        content_comment.html(content_comment.html().replace(reg, "*"));
    });
</script>
<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="jumbotron">
            <div>
                <h1>{{POST.title}}</h1>
            </div>
            
            <hr />
            <div class="well"  id='article_content' >
                <p>{{POST.content|safe}}</p>
                <hr>
            </div>
            <div>
                <p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>作者</th>
                                <th>阅览数</th>
                                <th>发布时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><img alt="photo" src="{{MEDIA_URL}}{{POST.author.photo}}" class="img-thumbnail" height="50" width="50" /> {{ POST.author }}</th>
                                <th>{{ POST.view_count }}</th>
                                <th>{{ POST.publish_date }}</th>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </p>
            </div>
        </div>
        <div class="well">

            <p id="like_count">{{LIKE_COUNT.count}}</p>
            <a id="like" style="cursor:pointer"><embed src="{% static 'image/thumbs-up.svg' %}"
                    type="image/svg+xml" />赞一个</a>
            <script>
                $(document).ready(function () {
                    $('#like').click(function () {
                        var post = {{ POST.id }};
                        $.get("{% url 'like' %}", { 'post': post }, function (msg) {
                            $("#like_count").html(msg);
                            if(msg=="请先登录")
                            {
                                $("#like_count").wrap("<a href='{% url 'login' %}'></a>");
                            }
                        });
                    });
                });
            </script>
            <p id="favor_state"></p>
            <a id="favor" style="cursor:pointer"><embed src="{% static 'image/star.svg' %}"
                    type="image/svg+xml" />收藏</a>
            <script>
                $(document).ready(function () {
                    $('#favor').click(function () {
                        var post = {{ POST.id }};
                        $.get("{% url 'favor' %}", { 'post': post }, function (msg) {
                            $("#favor_state").html(msg);
                            if(msg=="请先登录")
                            {
                                $("#favor_state").wrap("<a href='{% url 'login' %}'></a>");
                            }
                        });
                    });
                });
            </script>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12 column">
        <div>
            {% get_comment_form for POST as form %}
            <h1>编写评论</h1>
            <table>
                <form action="{% comment_form_target %}" method="post">
                    {% csrf_token %} {{ form.content_type }} {{ form.object_pk }} {{ form.timestamp }}
                    {{ form.security_hash }}
                    <textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
                    <input type="hidden" name="next" value="{% url 'curr_post' POST.id %}" />
                    {% if user.is_authenticated %}
                    <br />
                    <input class="btn btn-default" type="submit" value="提交评论" id="id_submit" />
                    <hr />
            </table>
            {% else %}
            </table>
            <p>请先<a href="{% url 'login' %}">登录</a>后方可评论.</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12 column">
            {%get_comment_count for POST as comment_count%}
            <p>共{{comment_count}}条评论</p>
        <ul class="list-group" id="comment_fliter">
            {% get_comment_list for POST as comment_list %}
            {% for comment in comment_list %}
            <li class="list-group-item">
                <p id="{{comment.id}}" class="well well-sm">发布于{{comment.submit_date|date:"Y-m-d H:i:s"}} <br />
                    来自:{{comment.user_name}}</p>
                    <hr />
                    <p>{{comment.comment|safe}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock postlist %}