{% extends "main_page/index.html" %} {% load staticfiles %} {% load paginator_tag %} {% load comments %} {% block postlist %}
<link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
<div class="zhu">
    <div class="ti">
        <h1 class="timushiyang">{{POST.title}}</h1>
    </div>
    <div class="zuozhe">
        <h3 class="ziti">
            <center><img src="{% static 'image/timg.jpg' %}" alt="导航" height="30" width="40">作者</center>
            <hr>
        </h3>
    </div>
    <div class="zhuti">
        <p>{{POST.content|safe}}</p>
        <hr>
    </div>
    <div class="write">

        {% get_comment_form for POST as form %}
        <h1>编写评论</h1>
        <table>
            <form action="{% comment_form_target %}" method="post">
                {% csrf_token %} {{ form.content_type }} {{ form.object_pk }} {{ form.timestamp }} {{ form.security_hash }}
                <textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
                <input type="hidden" name="next" value="{% url 'curr_post' POST.id %}" />
        {% if user.is_authenticated %} 
                <input type="submit" value="提交评论" id="id_submit" />
        </table>
        {% else %}
        </table>
        <p>请先<a href="{% url 'login' %}">登录</a>后方可评论.</p>
        {% endif %}
    </div>

    {% get_comment_list for POST as comment_list %} 
        {% for comment in comment_list %}
    <div class="pinglun">
        <p>{{comment.id}}楼 ，发布于{{comment.submit_date|date:"Y-m-d H:i:s"}} <br /> {{comment.user_name}} <br /> {{comment.comment|safe}}
            <hr />
        </p>
    </div>
    {% endfor %}
</div>
{% endblock postlist %}