{% extends "account_page/temp.html" %}

{% block content %}
<div style="width: 25%; margin: 10% auto">
<h2>注册</h2>
{% if message %}
{{ message }}
{% endif %}
<form class="form-horizontal" role="form" method="post" action="" enctype="multipart/form-data">
   {% csrf_token %}
   {% for field in form %}
   {% if field.errors %}
   <p>{{ field.errors|safe }}</p>
   {% endif %}
   <div class="form-group">
      <div class="col-sm-2 control-label">
         {{ field.label_tag }}
      </div>
      <div class="col-sm-10">
         {{ field }}
      </div>
   </div>
   {% if field.help_text %}
   <p>{{ field.help_text|safe }}</p>
   {% endif %}
   {% endfor %}
   <input type="submit" value="注册" class="submit" />
</form>
</div>
{% endblock %}