{% extends "main_page/index.html" %}
{% load staticfiles %}
{% block main %}
<div class="row clearfix">
    <div class="col-md-2 column text-center">
        <div class="row">
            <img alt="photo" src="{{MEDIA_URL}}{{PAGE.owner.photo}}" height="140" width="140" />
        </div>
        <div class="row panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    姓名：
                </h3>
            </div>
            <div class="panel-body">
                {{PAGE.owner.name}}
            </div>
        </div>

    </div>
    <div class="col-md-10 column">

    </div>
</div>
{% endblock main %}